# Python cache files pyc, pyo
*.py[cod]

# Temporary files
temp/

# Ignore dataset files
data/

# Ignore model files
saved_models/

# Ignore logs
logs/

# Ignore virtual environment
.venv/

# Ignore IDE specific files
.vscode/

# Build files
build/

# Egg and wheel files
*.egg-info/

# __pycache__ directories
__pycache__/
