# Python cache files pyc, pyo
*.py[cod]

# Temporary files
temp/

# Ignore dataset files
data/

# Ignore logs
logs/

# Build files
build/

# Egg and wheel files
*.egg-info/

# __pycache__ directories
__pycache__/

# All hidden directories and their contents
.venv/
.env/
.idea/
.vscode/
.zed
.cache/
.pytest_cache/
